.product-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: 10px;
    width: 20rem;
    height: 32rem;
}
.product-container img { 
    width: 20rem;
    height: 16rem;
    object-fit: cover;
}
.product-details { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    height: 14rem;
    text-align: left;
}