header { 
  display: flex;
  height: 8rem;
  box-shadow: 0px 5px 10px 0px gray;
  padding: 2rem;

}

.mainSection-container { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 6rem;
}